body { margin: 1em; }
.invalid { background: red; }

.label { margin-top: 1em; }
.label, input { display: block; }
fieldset input { display: inline; }

.calculators {
    display: flex;
    flex-wrap: wrap;
}
